.hero_section h1 {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

@media screen and (min-width: 1200px) {
  .hero_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
