.myapps__section {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 3rem;
  font-family: manrope;
}

.section__one img {
  width: 85vw;
}

.section__two {
  margin: 2rem 0 2rem 0;
}

.links,
.change {
  text-decoration: none;
}

.change {
  color: #71e5ff;
}

.links {
  color: #ff8a71;
}

h1 {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

p {
  color: #81afdd;
}

/* Media screens to be fixed later */

@media screen and (min-width: 1000px) {
  .myapps__section {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__one {
    width: 40vw;
  }

  .section__one img {
    width: 40vw;
  }

  .section__two {
    width: 40vw;
    transform: translateY(3rem);
  }

  .links,
  .change {
    font-size: 16px;
    font-weight: 500;
  }

  h1 {
    font-size: 30px;
    font-weight: 800;
    width: 40vw;
    margin-top: 10px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 23px;
    width: 40vw;
  }

  .links {
    /* margin-top: 0; */
  }
}

@media screen and (min-width: 1200px) {
  .section__two {
    padding-left: 2rem;
  }
  h1 {
    font-size: 34px;
    width: 30vw;
  }

  p {
    width: 35vw;
  }
}
