.blog,
.second__blog {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.blog img,
.second__blog img {
  width: 90vw;
  margin-bottom: 0;
}

.time {
  display: flex;
  width: 20vw;
  justify-content: space-between;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.blog__container h2,
.second__blog__container h2 {
  font-size: 25px;
  font-weight: 800;
  color: #fff;
  margin-top: 0;
  margin-bottom: 114px;
}

.links {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  word-spacing: -1px;
}

@media screen and (min-width: 1000px) {
  .Happening__section h1 {
    font-size: 62px;
    width: 65vw;
    letter-spacing: -0.04em;
  }

  .Happening__section {
    width: auto;
  }

  .blog,
  .second__blog {
    width: auto;
  }

  .blog img,
  .second__blog img {
    width: auto;
  }

  .Happening__section__container {
    display: flex;
    gap: 50px;
  }

  .Happening__section__container__one {
    width: 30vw;
  }

  .Happening__section__container__two {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .second__blog {
    width: 23vw;
  }

  .blog__container h2 {
    margin-bottom: 164px;
  }

  .second__blog__container h2 {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .blog__container {
    padding: 25px 12px 24px 14px;
  }

  .second__blog__container {
    padding: 10px 12px 24px 14px;
  }

  .links {
    font-size: 12px;
  }

  .time {
    width: 105px;
  }
}

@media screen and (min-width: 1200px) {
  .Happening__section__container__two {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .Happening__section__container__one {
    width: 32vw;
  }

  .second__blog__container h2 {
    font-size: 15px;
    margin-bottom: 40px;
  }

  .second__blog {
    width: 20vw;
  }
}

@media screen and (min-width: 1400px) {
  .Happening__section__container__one {
    width: 34vw;
  }

  .Happening__section__container__two {
    gap: 30px;
  }

  .second__blog {
    width: 20.5vw;
  }
}
