.companies__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.companies {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 50vw;
}

@media screen and (max-width: 550px) {
  .companies__container {
    margin-top: 2.5rem;
  }

  .companies__company img {
    width: 61px;
    height: 34px;
    mix-blend-mode: screen;
    margin-left: 8px;
  }
}

@media screen and (min-width: 450px) {
  .companies {
    width: 90vw;
  }
}

@media screen and (min-width: 760px) {
  .companies {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 60vw;
  }
}

@media screen and (min-width: 1000px) {
  .companies__container {
    margin: 0;
  }
  .companies {
    padding: 118px 0;
  }
}
