.footer__section {
  padding: 2rem 3rem 1rem 2rem;
  font-family: manrope;
}

.footer__section h1 {
  font-size: 34px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
}

.footer__section button {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  padding: 2rem 3rem;
  background: transparent;
  border-color: #fff;
}

.first__link {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.main__section__main__one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.main__section__main__one img {
  height: 70px;
}

.main__section__main__one p {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.main__section__main__two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.link__container {
}

.link__container p {
  color: #fff;
  font-size: 18px;
}

.links {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.link__container__links {
  line-height: 2rem;
}

.rights p {
  text-align: center;
  padding-top: 2rem;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  .footer__section {
    padding: 120px 80px 10px 80px;
  }
  .footer__section h1 {
    font-size: 62px;
    font-weight: 800;
  }
  .footer__section__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 180px;
    /* align-items: ; */
  }

  .main__section__main__one {
    width: 170px;
    margin-top: 0;
  }

  .main__section__main__one img {
    width: 118px;
    height: 30px;
  }

  .main__section__main__one p {
    font-size: 12px;
    text-align: left;
  }

  .main__section__main__two {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin-top: 0;
  }

  .link__container p {
    margin-top: 0;
  }

  .link__container__links {
    width: 116px;
  }

  .rights {
    margin-top: 83px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__section {
    padding: 175px 208px 10px 208px;
  }

  .footer__section__main {
    display: flex;
    justify-content: center;
    gap: 8vw;
  }

  .main__section__main__two {
    display: flex;
    justify-content: flex-end;

    /* justify-content: center; */
    width: 60vw;
    gap: 5vw;
  }

  .main__section__main__one {
    width: 200px;
    margin-top: 0;
  }

  .main__section__main__one p {
    width: 180px;
  }
}

@media screen and (min-width: 1400px) {
  .footer__section__main {
    display: flex;
    justify-content: center;
    gap: 13vw;
  }

  .main__section__main__two {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    gap: 10vw;
  }
}
