.cta__section__container__btn,
.cta__section__btn {
  text-decoration: none;
}

.cta__section__container__btn {
  color: #0e0e0e;
}

.cta__section__btn {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 760px) {
  .cta__section__btn {
    font-size: 13px;
  }
}

@media screen and (min-width: 1000px) {
  .cta__section__btn {
    font-size: 18px;
    font-weight: 800px;
  }
}
